.forgot-password {
  display: block;
  margin: auto;
  margin-top: 5rem;
  left: 0;
  right: 0;
  width: 10rem;
  white-space: nowrap;
}  
.forgot_form {
    width: 17rem;
    display: block;
    margin: auto;
    margin-top: 5rem;
    left: 0;
    right: 0;
}
  

  
   