<h1>編輯調酒紀錄</h1>

<div class="container mx-auto select-result">
  <div class="row flex-column">
    <form action="" class="form alc-select">

      <h3>點擊X鈕刪除紀錄：</h3>

      <div class="container-scroll">
        <input name="alcohol" type="radio" id="beer" value="beer">	
        <label class="option" for="beer">
          <div class="img-container">
            <img src="https://fakeimg.pl/300x300/aaf">
          </div>
          
          <div class="name">啤酒 Beer</div>
          <div class="concentration">4.5 %</div>
          <button class="btn-delete">X</button>
        </label>
        
        <input name="alcohol" type="radio" id="cider" value="cider">
        <label class="option" for="cider">
          <div class="img-container">
            <img src="https://fakeimg.pl/300x300/aaf">
          </div>
          <div class="name">蘋果酒 Cider</div>
          <div class="concentration">4.5 %</div>
          <button class="btn-delete">X</button>
        </label>
        
        <input name="alcohol" type="radio" id="craft-beer" value="craft-beer">
        <label class="option" for="craft-beer">
          <div class="img-container">
            <img src="https://fakeimg.pl/300x300/aaf">
          </div>
          <div class="name">精釀啤酒 Craft Beer</div>
          <div class="concentration">6 %</div>
          <button class="btn-delete">X</button>
        </label>
        
        <input name="alcohol" type="radio" id="red-wine" value="red-wine">
        <label class="option" for="red-wine">
          <div class="img-container">
            <img src="https://fakeimg.pl/300x300/aaf">
          </div>
          <div class="name">紅葡萄酒 Red Wine</div>
          <div class="concentration">12.5 %</div>
          <button class="btn-delete">X</button>
        </label>
        
        <input name="alcohol" type="radio" id="white-wine" value="white-wine">
        <label class="option" for="white-wine">
          <div class="img-container">
            <img src="https://fakeimg.pl/300x300/aaf">
          </div>
          <div class="name">白葡萄酒 White Wine</div>
          <div class="concentration">12.5 %</div>
          <button class="btn-delete">X</button>
        </label>

      </div>

      <%= link_to '回到計算頁', calc_path %>

    </form>  

  </div>
</div>