<h1 class="about-us">關於我們</h1>
<div class="container about">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 item">
      <div class="card">
        <img class="card-img-top" src="https://avatars2.githubusercontent.com/u/30727089?s=460&v=4">
        <div class="card-body">
          <a href="https://github.com/dannyh79"><h5 class="card-title">韓政璇</h5></a>
          <p class="card-text">拜託別灌我酒，因為我會喝下去</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 item">
      <div class="card">
        <img class="card-img-top" src="https://avatars0.githubusercontent.com/u/49583246?s=400&v=4">
        <div class="card-body">
          <a href="https://github.com/chaochaowu"><h5 class="card-title">吳兆召</h5></a>
          <p class="card-text">長島冰茶是必點清單</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 item">
      <div class="card">
        <img class="card-img-top" src="https://avatars0.githubusercontent.com/u/48974903?s=400&v=4">
        <div class="card-body">
          <a href="https://github.com/mkx777"><h5 class="card-title">陳孟寬</h5></a>
          <p class="card-text">一時喝酒一時爽，一直喝酒一直爽。</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 item">
      <div class="card">
        <img class="card-img-top" src="https://avatars3.githubusercontent.com/u/49578192?s=460&v=4">
        <div class="card-body">
          <a href="https://github.com/evayangms"><h5 class="card-title">楊怡華</h5></a>
          <p class="card-text">喝酒不開車，開車不喝酒</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container references">
  <table class="table table-striped">
    <tr>
      <th class="th">公式參考</th>
      <td><a href="http://www.drinkfox.com/tools/bac-calculator">BAC Calculator</a> by <a href="http://www.drinkfox.com/">DrinkFox</a></td>
    </tr>
    <tr>
      <th class="th">行為表徵</th>
      <td><a href="https://en.wikipedia.org/wiki/Blood_alcohol_content">Blood alcohol content</a> on Wikipedia</td>
    </tr>
  </table>
</div>

<%# if 有登入 => 回計算頁 else 沒有登入 => 回登入頁 %>
<% if user_signed_in? %>
  <%= link_to '回到計算頁', calc_path, class: 'btn btn-index' %>
<% else %>
  <%= link_to '回到登入頁', new_user_session_path, class: 'btn btn-index' %>
<% end %>
