<div class="landing">
  <div class="headline">
    <h1>
      <p>想喝但怕喝掛嗎？</p>
      <p>測看看吧！</p>
    </h1>
  </div>
  
  <button type="button" class="btn_1 rounded" data-toggle="modal" data-target="#exampleModalCenter">
我已滿 18 歲，想來試試</button>
  </div>
</div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLongTitle">「今夜想買醉」⋯⋯</h4>
          </div>
          <div class="modal-body">
            <div class="info">
              <h5>【你能做到的事】</h5>
              <ul>
                <li>了解喝不同種酒的醉況</li>
                <li>新增喜歡的調酒並記錄</li>
                <li>了解各時間段清醒程度</li>
              </ul>
              <h5>【你該怎麼操作】</h5>
              <ul>
                <li>註冊一個屬於你的帳號</li>
                <li>依畫面顯示填正確資訊</li>
                <li>試著按五種醉況的按鈕</li>
                <li>查看各時間段清醒程度</li>
              </ul>
              <h5>【你該注意的事】</h5>
              <ul>
                <li>再參考結果後理性飲酒</li>
                <li>為身體好不要急性飲酒</li>
                <li>為錢包好不要大量飲酒</li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">再想一下</button>
            <%= link_to '我知道了', new_user_session_path, id: 'login', class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>    