<div class="landing">
  <div class="headline">
    <h1>
      <p>想喝但怕喝掛嗎？</p>
      <p>測看看吧！</p>
    </h1>
  </div>
  
  <button type="button" class="btn_1 rounded" data-toggle="modal" data-target="#exampleModalCenter">
我已滿 18 歲，想來試試</button>
  </div>
</div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered landing-page-modal" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLongTitle">今夜想買醉</h4>
          </div>
          <div class="modal-body">
            <div class="info">
              <h6>【你能做到的事】</h6>
              <ul>
                <li>知道各種飲酒量的醉況</li>
                <li>自己做個調酒來估醉況</li>
                <li>了解各醉況的清醒時間</li>
                <li>理解酒精對身體的影響</li>
              </ul>
              <h6>【你該怎麼操作】</h6>
              <ul>
                <li>註冊一個屬於你的帳號</li>
                <li>依畫面引導填正確資訊</li>
                <li>按看看五種醉況的按鈕</li>
                <li>讀看看各個醉況的說明</li>
              </ul>
              <h6>【你該注意的事】</h6>
              <ul>
                <li>在參考結果後理性飲酒</li>
                <li>為身體好不要急性飲酒</li>
                <li>為錢包好不要大量飲酒</li>
                <li>為大家好不要駕車飲酒</li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">再想一下</button>
            <%= link_to '我知道了', new_user_session_path, id: 'login', class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>    