.sign-up.edit-user-page{
  display: block;
  margin: auto;
  margin-top: 5rem;
  left: 0;
  right: 0;
  width: 14.5rem;
  white-space: nowrap;
}

#cancel-btn{
  margin-top: 6.5rem;
  font-size: inherit;
  width: 200px;
  border-radius: 8px;
}