.sign-up{
  display: block;
  margin: auto;
  padding-top: 2rem;
  left: 0;
  right: 0;
  width: 6rem;
  white-space: nowrap;
}


.sign-up_form {
    width: 17rem;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
}


#submit {
    color: #fff;
    border-radius: 7px;
    background-color: #434bdf;
    border-color: #434bdf;
    text-decoration: none;
  
    padding: 5px 15px;
    box-shadow: 2px 2px 5px #555;
    display: block;
    margin: auto;
    margin-top: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    width: 10rem;
  

  &:hover {
    color: #fff;
    border-radius: 7px;
    background-color: #d80075;
    border: 1px solid #e90b81;
    box-shadow: 2px 2px 5px #555;
    position: absolute;
    left: 0;
    right: 0;
    width: 10rem;
  }
}

// hotfix for login button
#submit.login { margin-top: 4rem; }

#facebook-login {
  margin-top: calc(3rem + 71px);
}


 