.about {
  margin-top: 20vh;
}

.btn-index {
  background-color: #88d;
  padding: 5px 15px;
  box-shadow: 2px 2px 5px #555;
  display: block;
  margin: auto;
  margin-top: 50px;
}

.btn-index:hover {
  background-color: #aaf;
  box-shadow: 4px 4px 5px #555;  
}