.select-result {
  background-color: #afa;
  width: 100vw;
  height: 100vh;
}
.select-result .row.flex-column {
  height: 100vh;
}


.form {
  width: 40vw;
  background-color: #faa;
  box-sizing: border-box;
  padding: 10px;
}
.alc-select { 
  height: 50vh;
  padding-top: 45px; 
}
.alc-select .container-scroll {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
input[type="radio"] {
  display: none;
}
.option {
  background-color: #ddd;
  display: flex;
  padding: 5px 10px;
  align-items: center;
}
.option .img-container { 
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  flex: none;
}
.option .name {
  flex: auto; 
  margin-left: 1rem;
}
.option .concentration { 
  flex: none; 
  margin-right: 1rem;
}
.option .btn-delete {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #aaf;
  border-radius: 50%;
  flex: none;
  margin-right: 1rem;

  /* hidding the delete button */
  visibility: hidden; 
}
.option img { width: 100%; }
input[type="radio"]:checked + .option {
  background-color: #555;
}


.time-unit { 
  height: 50vh;
  
  display: none; 
}
.time-before,
.time-after {
  width: 50%;
}
.unit {
  width: 100%;
}
label[for="time-before"],
label[for="time-after"],
label[for="unit"]  {
  display: block;
}
input[type="submit"] { 
  width: 100%;
  display: block; 
}


.result { 
  background-color: #ffa;
  width: 60vw;
  height: 100vh;
  position: relative;

  display: none; 
}
.result .container-man-figure {
  width: 100%;
  height: 78vh;
  position: relative;
  overflow: hidden;

  #man-figure,
  #water-level {
    position: absolute;
    width: 100%;
  }

  #man-figure {
    top: -5rem;
    z-index: 1;
  }
  
  #water-level {
    background-color: #f00;
    bottom: -13%;
  }

}

.result .container-btn {
  width: 13rem;
  height: 40vh;
  position: absolute;
  right: 2vw;
  top: 18%;
  z-index: 2;
}
.result .btn {
  flex: none;
}

@keyframes go_level_1 {
  from { bottom: 1.5rem; }
  to { bottom: -1%; }
}

@keyframes go_level_2 {
  from { bottom: 1.5rem; }
  to { bottom: 11%; }
}

@keyframes go_level_3 {
  from { bottom: 1.5rem; }
  to { bottom: 23%; }
}

@keyframes go_level_4 {
  from { bottom: 1.5rem; }
  to { bottom: 35%; }
}

@keyframes go_level_5 {
  from { bottom: 1.5rem; }
  to { bottom: 47%; }
}

.level_1 {
  animation: go_level_1 2s forwards;
}

.level_2 {
  animation: go_level_2 2s forwards;
}

.level_3 {
  animation: go_level_3 2s forwards;
}

.level_4 {
  animation: go_level_4 2s forwards;
}

.level_5 {
  animation: go_level_5 2s forwards;
}


@media screen and (max-width: 767px) {
  .select-result { 
    height: 200vh; 
  }
  .select-result .row.flex-column {
    height: 200vh;
  }


  .form {
    width: 100vw;
  }
  .alc-select { 
    height: 100vh; 
  }
  .time-unit {
    height: 20vh;
  }

  .result {
    width: 100vw;
    height: 80vh;
  }
}