<p>您好  <%= @resource.email %>!</p>

<p>您申請了忘記密碼通知，如果您要重設密碼，請點選下方連結：</p>

<p><%= link_to '修改我的密碼', edit_password_url(@resource, :only_path, reset_password_token: @token) %></p>

<p>如果您沒有申請，『忘記密碼』的動作，請您忽略這一封信件</p>
